@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;

@layer base {
  body {
    input:-webkit-autofill {
      background-color: white !important;
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }

    @apply bg-bg font-pretendard text-black;

    /* Swiper */
    .swiper-button-prev,
    .swiper-button-next {
      @apply hidden;
    }

    /* 이모지 컨테이너 CSS */
    #quill-editor {
      @apply flex flex-row-reverse flex-wrap rounded-xl border border-lightGray bg-white pt-1;
    }
    #quill-editor > div:first-child {
      @apply flex flex-1 items-center justify-start border-b border-mainGray pt-1;
    }
    #quill-editor > div:nth-child(2) {
      @apply flex-shrink-0 border-b border-l-0 border-r-0 border-t-0 border-mainGray;
    }
    #quill-editor > div:nth-child(3) {
      flex: 1 0 100%;
    }
    /* Quill 에디터 CSS */
    .ql-container.ql-snow {
      @apply border-0;
    }
    .ql-editor {
      word-break: break-word;
      @apply mt-2 text-base;
      img {
        @apply my-2 w-[70%];
      }
      .ql-size-small {
        font-size: 14px;
      }
      .ql-size-large {
        font-size: 24px;
      }
      .ql-size-huge {
        font-size: 32px;
      }
      p {
        line-height: 1.4;
      }
      blockquote {
        line-height: 1.4;
        margin: 8px 0;
        padding-left: 30px;
        text-align: start !important;
        border-left: 4px solid #cacaca;
      }

      ol {
        margin-bottom: 5px;
      }
      li {
        padding: 3px 0;
        .ql-ui:before {
          text-align: center;
        }
      }
      li[data-list='checked'] {
        .ql-ui:before {
          content: '☑️';
        }
      }
      li[data-list='unchecked'] {
        .ql-ui:before {
          font-size: 17px;
        }
      }
      li.ql-indent-1:not(.ql-direction-rtl) {
        padding-left: 40px;
      }
      li.ql-indent-2:not(.ql-direction-rtl) {
        padding-left: 80px;
      }
      li.ql-indent-3:not(.ql-direction-rtl) {
        padding-left: 120px;
      }
      li.ql-indent-4:not(.ql-direction-rtl) {
        padding-left: 160px;
      }
      li.ql-indent-5:not(.ql-direction-rtl) {
        padding-left: 200px;
      }
      li.ql-indent-6:not(.ql-direction-rtl) {
        padding-left: 240px;
      }
      li.ql-indent-7:not(.ql-direction-rtl) {
        padding-left: 280px;
      }
      li.ql-indent-8:not(.ql-direction-rtl) {
        padding-left: 320px;
      }
      a {
        @apply text-mainBlue;
      }
    }

    /* DatePicker CSS */
    .react-datepicker-wrapper {
      @apply relative z-0 h-full w-full;
    }
    .react-datepicker__input-container {
      @apply h-full w-full;
    }
    .react-datepicker__triangle {
      @apply hidden;
    }
    .react-datepicker-popper {
      @apply z-20 m-0;
    }
    .react-datepicker {
      @apply rounded-xl border-none shadow-modal;
    }
    .react-datepicker__day-name {
      @apply text-white;
    }
    .react-datepicker__header {
      @apply rounded-t-xl border-none bg-mainGreen py-2.5 text-white;
    }
    .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
      @apply rounded-tr-xl;
    }
    .react-datepicker__day--selected {
      @apply rounded-lg !bg-mainGreen text-white;
    }
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
      @apply bg-mainGreen text-white;
    }
  }

  .notice-text-divider::after {
    content: '|';
    margin: 14px;
    color: #b5b5b5;
  }
  .lounge-text-divider::after {
    content: '|';
    margin: 8px;
    color: #b5b5b5;
  }
  .meal-recruit-text-divider::after {
    content: '|';
    margin: 8px;
    color: #6d6d6d;
  }
}

@tailwind components;
@tailwind utilities;
